{% extends 'main.html' %}
{%  load static %}

{% block content%}

    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
                <br>

                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Are your sure you want to delete this record </p>
                    <a class="btn btn--sub btn--lg  my-md" href="{% url 'records' %}">&#x2190 Go Back</a>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </main>



{% endblock content %}


