{%  extends 'main.html' %}
{%  load static %}

{% block content %}


    <main class="messagePage my-xl">
        <div class="content-box">
            <div class="message">
                <a class="backButton" href="{%  url 'inbox' %}"><i class="im im-angle-left"></i></a>
                <h4 class="message__subject">{{ message.subject }}</h4>
                <a href="{% url 'user-profile' message.sender.id %}" class="message__author">{{ message.name }}</a>
                <p class="message__date">{{ message.created.date }}</p>
                <div class="message__body">
                    {{ message.body|linebreaksbr }}
                </div>
            </div>
        </div>
    </main>


{%  endblock content %}